.search {
  padding-bottom: 39px;
  border-bottom: 1px solid #424242;
}

.search-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.search-form__container {
  display: grid;
  grid-template-columns: auto 70px;
  gap: 10px;
}

.search-form__input {
  background: #2F2F2F;
  border: 1px solid #2F2F2F;
  outline: none;
  border-radius: 4px;
  padding: 15px 22px;
  box-sizing: border-box;
  color: #fff;
  font-size: 13px;
  line-height: 16px;
}

.search-form__input::placeholder {
  font-family: 'Inter';
  font-size: 14px;
  line-height: 18px;
  color: #8B8B8B;
}

.search-form__input:focus {
  border: 1px solid #424242;
}

.search-form__submit-btn {
  height: 44px;
  background: #7B3465;
  border-radius: 3px;
  color: #fff;
  border: none;
  align-self: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.search-form__error {
  position: absolute;
  color: #EE3465;
  font-family: 'Inter';
  font-size: 10px;
  line-height: 12px;
  margin-top: 10px;
}