.header {
  padding: 18px 70px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.header__logo {
  height: 38px;
  width: 38px;
}

.header__authorization {
  display: flex;
  align-items: center;
}

.header__registration {
  margin: 0 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.header__button {
  width: 76px;
  height: 32px;
  background: #7C9C34;
  border: 1px solid #000000;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}